@model Tibos.Domain.Role
@{
    ViewData["Title"] = "创建";
    List<Tibos.Domain.NavigationDto> list_navdto = ViewData["list_navdto"] as List<Tibos.Domain.NavigationDto>;
}
<form id="form" class="layui-form" action="">
    @Html.HiddenFor(m => m.Id);
    <div class="layui-col-xs11" style="margin-top:5%">
        <div class="layui-form-item">
            <label class="layui-form-label">角色名</label>
            <div class="layui-input-block">
                <input type="text" name="Name" required lay-verify="required" placeholder="请输入角色名" autocomplete="off" class="layui-input" value="@Model?.Name">
            </div>
        </div>

        <div class="layui-form-item layui-form-text">
            <label class="layui-form-label">描述</label>
            <div class="layui-input-block">
                <textarea placeholder="请输入描述" name="Description" class="layui-textarea">@Model?.Description</textarea>
            </div>
        </div>
        @foreach (var item in list_navdto.Where(m=>m.Level == 1).ToList())
        {
            <div class="layui-form-item" pane="" style="margin:0px">
                <fieldset class="layui-elem-field site-demo-button" style="margin-left:110px">
                    <legend>@item.Name</legend>
                    <div style="float:right"><input type="checkbox" lay-skin="primary" lay-filter="dict" name="allcheck" tag="@item.Id" title="全选" /></div>
                    <div class="layui-form-item" pane="" style="margin:0px">
                        <label class="layui-form-label">@item.Name</label>
                        <div class="layui-input-block">
                            @{
                                foreach (var dict in item.DictList)
                                {
                                    var status = "";
                                    if (dict.Status == 1)
                                    {
                                        status = "checked";
                                    }
                                    <input type="checkbox" lay-skin="primary" lay-filter="dict" name="@dict.Id" tag="@item.Id" title="@dict.Name" @status>
                                    <input type="hidden" id="@dict.Id" name="Dict" value="@dict.Status" tag="@item.Id"   did="@dict.Id" nid="@item.Id" rndid="@dict.Extra" />
                                }
                            }
                        </div>
                    </div>

                    @foreach (var subitem in list_navdto.Where(m => m.ParentId == item.Id).ToList())
                    {
                        <div class="layui-form-item" pane="" style="margin:0px">
                            <label class="layui-form-label">@subitem.Name</label>
                            <div class="layui-input-block">
                                @{
                                    foreach (var dict in subitem.DictList)
                                    {
                                        var status = "";
                                        if (dict.Status == 1)
                                        {
                                            status = "checked";
                                        }
                                        <input type="checkbox" lay-skin="primary" lay-filter="dict" name="@subitem.Id@dict.Id" tag="@item.Id" title="@dict.Name" @status>
                                        <input type="hidden" id="@subitem.Id@dict.Id" name="Dict" value="@dict.Status" tag="@item.Id" did="@dict.Id" nid="@subitem.Id" rndid="@dict.Extra" />
                                    }
                                }
                            </div>
                        </div>
                    }
                </fieldset>
            </div>
        }
        <div class="layui-form-item layui-hide">
            <input type="button" lay-submit="" lay-filter="layuiadmin-app-form-submit" id="layuiadmin-app-form-submit" value="确认添加">
            <input type="button" lay-submit="" lay-filter="layuiadmin-app-form-edit" id="layuiadmin-app-form-edit" value="确认编辑">
        </div>

    </div>
</form>
<script>
    layui.use('form', function () {
        var form = layui.form;
        //自定义验证规则
        form.verify({

        });
        //监听开关
        form.on('checkbox(dict)', function (data) {
            var d = $(this).attr("name");
            var v = $(this).attr("tag");
            //全选
            if (d == "allcheck") {
                //这里实现勾选 
                $('input[tag=' + v + ']').each(function (index, item) {
                    item.checked = data.elem.checked;
                    if (data.elem.checked) {
                        $(item).val('1');
                    } else {
                        $(item).val('0');
                    }
                });
                form.render('checkbox');
            } else {
                console.log(d)
                if (data.elem.checked) {
                    $("#" + d).val('1');
                } else {
                    $("#" + d).val('0');
                }
            }
        });
        //监听提交
        form.on('submit(layuiadmin-app-form-submit)', function (data) {
            var field = data.field; //获取提交的字段
            var array = new Array();
            $("input[name='Dict']").each(function () {
                var dict = {};
                dict.DId = $(this).attr("did");
                dict.NId = $(this).attr("nid");
                dict.Id = $(this).attr("rndid");
                dict.Status = parseInt($(this).val());
                array.push(dict);
            })
            field.RoleNavDict = array;
            console.log(field);
            return postForm("/sys/role/create", field);
        });
        form.on('submit(layuiadmin-app-form-edit)', function (data) {
            var field = data.field; //获取提交的字段
            var array = new Array();
            $("input[name='Dict']").each(function () {
                var dict = {};
                dict.DId = $(this).attr("did");
                dict.NId = $(this).attr("nid");
                dict.Id = $(this).attr("rndid");
                dict.Status = parseInt($(this).val());
                array.push(dict);
            })
            field.RoleNavDict = array;
            console.log(field);
            return postForm("/sys/role/edit", field);

        });

        //提取公共提交表单方法
        function postForm(url, field)
        {
            var index = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引  
            //提交 Ajax 成功后，关闭当前弹层并重载表格
            var load = layer.load(1, {
                shade: [0.3, '#808080'] //0.1透明度的白色背景
            });
            $.post(url, field, function (data) {
                layer.close(load);
                if (data.code == 200) {
                        parent.layui.table.reload('tableList'); //重载表格
                        parent.layer.close(index); //再执行关闭 
                        parent.layer.msg("操作成功!", {
                            time: 1000,
                            icon: 1,
                        });
                    }else {
                        parent.layer.msg("操作失败!", {
                            time: 1000,
                            icon: 2,
                        });

                    }
                });
        }
    });
</script>