@{
    var list = Model as List<Navigation>;
    var list_menu = list.Where(m => m.Level == 1).OrderBy(m => m.Sort);
    foreach (var item in list_menu)
    {
        var list_submenu = list.Where(m => m.Level == 2 && m.ParentId == item.Id).OrderBy(m => m.Sort);
    <li data-name="@item.Name" class="layui-nav-item">
        <a href="javascript:;" lay-tips="@item.Name" lay-direction="2">
            <i class="@item.Icon"></i>
            @*<i class="layui-icon layui-icon-home"></i>*@
            <cite>@item.Name</cite>
        </a>
        <dl class="layui-nav-child">
            @foreach (var subitem in list_submenu)
            {
                <dd data-name="@subitem.Name">
                    <a lay-href="@subitem.Link"><i class="@subitem.Icon"></i> @subitem.Name</a>
                </dd>
            }
        </dl>
    </li>
    }
}